.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    margin-bottom: 10px;
  }
  
  .message.sent {
    align-self: flex-end;
    background-color: #dcf8c6; /* Fondo verde claro para el mensaje enviado */
  }
  
  .message.received {
    align-self: flex-start;
    background-color: #ffffff; /* Fondo blanco para el mensaje recibido */
  }
  
  .message-time {
    font-size: 0.75em;
    color: #888;
    margin-top: 5px;
    align-self: flex-end;
  }
  